{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Vos informations</h1>
            </div>
            <div class="col-6">
                <p>Email :</p>
                <p>Nom :</p>
                <p>Prénom :</p>
                <p>Adresse :</p>
                <p>Code postal :</p>
                <p>Ville :</p>
                <p>Compte vérifié :</p>
            </div>
            <div class="col-6">
                <p>{{ app.user.email }}</p>
                <p>{{ app.user.lastname }}</p>
                <p>{{ app.user.firstname }}</p>
                <p>{{ app.user.address }}</p>
                <p>{{ app.user.zipcode }}</p>
                <p>{{ app.user.city }}</p>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switch{{ app.user.id }}" {{ app.user.isVerified ? 'checked' : '' }} disabled>
                    <label class="form-check-label" for="switch{{ app.user.id }}"></label>
                </div>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <a href="{{ path('profile_edit') }}" class="btn btn-primary">Modifier mon profil</a>
                <a href="{{ path('profile_edit_password') }}" class="btn btn-primary">Modifier mon mot de passe</a>
            </div>
            <div class="col-4"></div>
        </section>
    </main>
{% endblock %}
