{{ form_start(form) }}
    {{ form_row(form.name, {'label': 'Nom'}) }}
    {{ form_row(form.parent, {'label': 'Catégorie parent'}) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(form) }}